// .title {
//   grid-area: title;
// }

// .menu-item {
//   grid-area: menu-item;
// }

// .filtros {
//   grid-area: filtros;
//   padding: 0%;
//   margin: 0%;
// }

// .tabla-contenido {
//   grid-area: tabla-contenido;
// }

// .grid-container {
//   display: grid;
//   grid-template-areas:
//     "title  title   title"
//     "menu-item   filtros filtros"
//     "menu-item tabla-contenido  tabla-contenido";
//   gap: 10px;
//   background-color: antiquewhite;
//   padding: 10px;
// }

// .grid-container > div {
//   background-color: rgba(255, 255, 255, 0.8);
//   text-align: center;
//   padding: 20px 0;
//   font-size: 30px;
// }



.filters {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-filter {
  margin-bottom: 15px;
}

.search-input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.category-filter, .id-filter {
  margin-bottom: 15px;
}

.filter-label {
  display: inline-block;
  width: 150px;
}

.filter-select, .filter-input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.filter-actions {
  margin-top: 20px;
  text-align: right;
}

.reset-button, .apply-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.reset-button {
  margin-right: 10px;
}
