* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    font-size: 1.2rem;
    min-height: 100%;
}


.grid-container > * {
    padding: 10px;
}

.filtros {
    grid-area: filtros;
    background-color: rgb(214, 241, 232);
}

.tabla {
    grid-area: tabla;
    background-color: rgb(214, 241, 232);
    font-size: x-small;
}

.pie {
    grid-area: pie;
    background-color: rgb(214, 241, 232);
}

.tabla thead {
    th {
        text-transform: uppercase;
    }
}

.grupo-botones {
    display: flex;
}

.grupo-botones button {
    font-size: x-small;
    font-weight: 500;
    padding: 5px 14px;
    text-transform: uppercase;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    gap: 10px;
}

.grid-container {
    grid-template:
        "filtros" auto
        "tabla" 1fr
        "pie"    auto   /
        1fr
}
