<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="grid-container">

    <div class="filtros">

      <!-- <app-filtros></app-filtros> -->
      <app-filtros1></app-filtros1>

    </div>

    <div class="tabla">

      <table datatable [dtOptions]="dtOptions" class="table table-hover">

        <thead>
          <tr>
            <th>Id</th>
            <th>Autor</th>
            <th>Sucursal</th>
            <th>Estado</th>
            <th>Descripcion</th>
            <th>Fecha creacion</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let req of lista_requerimientos">
            <td>{{req.Id}}</td>
            <td>{{req.Autor}}</td>
            <td>{{req.Sucursal}}</td>
            <td>{{req.Estado}}</td>
            <td>{{req.Descripcion}}</td>
            <td>{{req.FechaCrea}}</td>
            <td>
              <div class="grupo-botones">
                <button class="btn btn-success">Ver</button>
              </div>
            </td>
          </tr>
        </tbody>
        
      </table>
      
    </div>

  </div>
</body>

</html>